In [8]:
school_space = ['Calculus', 'Philosophy', 'Art History', 'Computer Science', 'Maths']

In [9]:
last = lambda x: x[-1]

In [10]:
sorted(school_space, key = last)

['Computer Science', 'Calculus', 'Maths', 'Philosophy', 'Art History']

In [12]:
f = lambda x: x*x

In [13]:
f(10)

100

In [14]:
f= lambda x, y: x*y

In [15]:
f(5,10)

50

In [16]:
f= lambda: True

In [17]:
f()

True

In [18]:
f = lambda x: x+5

In [20]:
f(4)

9

In [26]:
f = lambda x,y: x/y if y != 0 else 0

In [27]:
f(3,1)

3.0

In [32]:
def gimme_range(lower):
    return lambda upper: range(lower, upper)

up = gimme_range(10)

# Después podremos utilizar esto dentro de list comprehensions, por ejemplo:
mylist = [x for x in up(20) if x%2 == 0]
print(mylist)

[10, 12, 14, 16, 18]

In [33]:
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}

In [46]:
# Ordenar el diccionario por edades de las personas, usando una función lambda como parámetro de una función:
items = d.items()
sorted_d = sorted(items, key=lambda x: x[1])

In [47]:
print(sorted_d)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]

In [50]:
print(list(filter(lambda x: x> 7 , range(0, 20))))

[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]