In [7]:
import numpy as np
import pandas as pd

In [8]:
data = pd.read_csv('vehicles_folder/vehicles/vehicles.csv', low_memory=False)
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

### Ense√±ar columnas:

In [10]:
data.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

### Cambiar nombre de columnas:

Cambiar todas las columnas de una vez:

In [11]:
data.columns = ['Manufacturer','Model','Year','Displacement',
               'Cylinders','Transmission','Drivetrain',
               'Vehicle Class','Fuel Type','Fuel Barrels/Year',
               'City MPG','Highway MPG','Combined MPG',
               'CO2 Emission Grams/Mile','Fuel Cost/Year']

In [12]:
data.columns

Index(['Manufacturer', 'Model', 'Year', 'Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

Cambiar solo algunas columnas:

In [13]:
data = data.rename(columns={'Manufacturer': 'Make', 'Displacement':'Engine Displacement'})

In [14]:
data.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

### Cambiar el orden de las columnas:

In [15]:
column_order = ['Year','Make','Model','Vehicle Class',
               'Transmission','Drivetrain','Fuel Type',
               'Cylinders','Engine Displacement','Fuel Barrels/Year',
               'City MPG','Highway MPG','Combined MPG',
               'CO2 Emission Grams/Mile','Fuel Cost/Year']

In [16]:
data = data[column_order]

In [17]:
data.head()

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,18,17,17,522.764706,1950
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,16,17,16,555.437500,2100
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550
4,1987,ASC Incorporated,GNX,Midsize Cars,Automatic 4-spd,Rear-Wheel Drive,Premium,6.0,3.8,20.600625,14,21,16,555.437500,2550

### Agrupar las variables num√©ricas para hacerlas categ√≥ricas (como para ponerlas en histograma):

Creamos las categor√≠as, para la variable num√©rica 'Combined MPG':

In [18]:
mpg_labels = ['very low', 'low', 'normal', 'high', 'very high']

Creamos los 'bins' o grupos, en este caso 5 (coge los valores entre el m√≠nimo y el m√°ximo y lo divide en 5 grupos del mismo rango)

In [20]:
bins = pd.cut(data['Combined MPG'], 5, labels=mpg_labels)

In [21]:
bins.head()

0         low
1    very low
2    very low
3    very low
4    very low
Name: Combined MPG, dtype: category
Categories (5, object): [very low < low < normal < high < very high]

Estableciendo los cutoffs que queremos:

In [22]:
cutoffs = [7,14,20,23,35,80]
bins = pd.cut(data['Combined MPG'], cutoffs, labels=mpg_labels)

In [23]:
bins.head()

0         low
1    very low
2         low
3    very low
4         low
Name: Combined MPG, dtype: category
Categories (5, object): [very low < low < normal < high < very high]

Lo puedo meter como columna nueva en mi dataframe de la siguiente manera:

In [24]:
data['bins'] = pd.cut(data['Combined MPG'], cutoffs, labels=mpg_labels)

In [25]:
data.head()

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,bins
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,18,17,17,522.764706,1950,low
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,very low
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,16,17,16,555.437500,2100,low
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,very low
4,1987,ASC Incorporated,GNX,Midsize Cars,Automatic 4-spd,Rear-Wheel Drive,Premium,6.0,3.8,20.600625,14,21,16,555.437500,2550,low

## Cambiar cosas dentro de las tablas (por ejemplo, M por manual):

In [26]:
data.loc[data['Transmission'].str.startswith('A'), 'TransType'] = 'Automatic'
data.loc[data['Transmission'].str.startswith('M'), 'TransType'] = 'Manual'

In [27]:
data.head()

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,bins,TransType
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,18,17,17,522.764706,1950,low,Automatic
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,very low,Automatic
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,16,17,16,555.437500,2100,low,Automatic
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,very low,Automatic
4,1987,ASC Incorporated,GNX,Midsize Cars,Automatic 4-spd,Rear-Wheel Drive,Premium,6.0,3.8,20.600625,14,21,16,555.437500,2550,low,Automatic

## Get dummies:

In [29]:
drivetrain = pd.get_dummies(data['Drivetrain'])
drivetrain.head()

,2-Wheel Drive,"2-Wheel Drive, Front",4-Wheel Drive,4-Wheel or All-Wheel Drive,All-Wheel Drive,Front-Wheel Drive,Part-time 4-Wheel Drive,Rear-Wheel Drive
0,1,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,1

# GROUP BY!
## Important AF

### Crear consumo medio para cada una de las marcas:

In [30]:
avg_mpg = data.groupby('Make')['Combined MPG'].mean()

In [31]:
avg_mpg

Make
AM General                            14.750000
ASC Incorporated                      16.000000
Acura                                 21.506623
Alfa Romeo                            19.512195
American Motors Corporation           17.681818
Aston Martin                          13.578947
Audi                                  20.325843
Aurora Cars Ltd                       15.000000
Autokraft Limited                     16.500000
BMW                                   20.032797
BMW Alpina                            15.666667
Bentley                               13.250000
Bertone                               22.000000
Bill Dovell Motor Car Company         17.000000
Bitter Gmbh and Co. Kg                15.666667
Bugatti                               10.000000
Buick                                 20.880819
CCC Engineering                       15.000000
CX Automotive                         16.187500
Cadillac                              18.375984
Chevrolet                             18.508098
Chrysler                              20.120125
Consulier Industries Inc              21.000000
Dabryan Coach Builders Inc            16.333333
Dacia                                 23.000000
Daewoo                                23.074627
Daihatsu                              29.647059
Dodge                                 17.195339
E. P. Dutton, Inc.                    17.000000
Eagle                                 21.987179
                                        ...
Renault                               25.393939
Rolls-Royce                           12.012500
Roush Performance                     14.660377
Ruf Automobile Gmbh                   13.000000
S and S Coach Company  E.p. Dutton    10.000000
SRT                                   15.000000
Saab                                  20.212195
Saleen                                15.000000
Saleen Performance                    13.500000
Saturn                                24.061151
Scion                                 27.216867
Shelby                                17.000000
Spyker                                15.307692
Sterling                              18.166667
Subaru                                22.293214
Superior Coaches Div E.p. Dutton      10.000000
Suzuki                                23.390625
TVR Engineering Ltd                   18.000000
Tecstar, LP                           13.000000
Texas Coach Company                   12.000000
Toyota                                21.800109
VPG                                   14.200000
Vector                                 8.500000
Vixen Motor Company                   16.000000
Volga Associated Automobile           19.000000
Volkswagen                            24.093601
Volvo                                 20.605300
Wallace Environmental                 13.875000
Yugo                                  25.000000
smart                                 35.800000
Name: Combined MPG, Length: 127, dtype: float64

Para que no me lo pongo como index sino como dataframe

In [32]:
avg_mpg = data.groupby('Make', as_index=False)['Combined MPG'].mean()

In [35]:
avg_mpg.columns = ['Make', 'Average MPG']
avg_mpg.head()

                          Make  Average MPG
0                   AM General    14.750000
1             ASC Incorporated    16.000000
2                        Acura    21.506623
3                   Alfa Romeo    19.512195
4  American Motors Corporation    17.681818

## Hacer pivot table:

In [39]:
data.pivot_table(index=['Make', 'Fuel Type'], values = 'Combined MPG', aggfunc = np.mean).head()

                            Combined MPG
Make             Fuel Type
AM General       Regular       14.750000
ASC Incorporated Premium       16.000000
Acura            Premium       21.287554
                 Regular       22.246377
Alfa Romeo       Premium       19.833333

## Combinar DF

Parecido a los joins de SQL. Le decimos a python las columnas que coinciden

In [40]:
data = pd.merge(data,avg_mpg, on='Make')

In [41]:
data.head()

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,bins,TransType,Average MPG
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,18,17,17,522.764706,1950,low,Automatic,14.75
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,very low,Automatic,14.75
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,16,17,16,555.437500,2100,low,Automatic,14.75
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,very low,Automatic,14.75
4,1987,ASC Incorporated,GNX,Midsize Cars,Automatic 4-spd,Rear-Wheel Drive,Premium,6.0,3.8,20.600625,14,21,16,555.437500,2550,low,Automatic,16.00

In [42]:
data['diff'] = data['City MPG'] - data['Average MPG']
data.head()

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,bins,TransType,Average MPG,diff
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,18,17,17,522.764706,1950,low,Automatic,14.75,3.25
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,very low,Automatic,14.75,-1.75
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,16,17,16,555.437500,2100,low,Automatic,14.75,1.25
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,very low,Automatic,14.75,-1.75
4,1987,ASC Incorporated,GNX,Midsize Cars,Automatic 4-spd,Rear-Wheel Drive,Premium,6.0,3.8,20.600625,14,21,16,555.437500,2550,low,Automatic,16.00,-2.00

Despu√©s est√° el m√©todo concat, que los pega un poco sin ton ni son:

In [43]:
data = pd.concat([data,drivetrain], axis=1)
data.head(10)

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,...,Average MPG,diff,2-Wheel Drive,"2-Wheel Drive, Front",4-Wheel Drive,4-Wheel or All-Wheel Drive,All-Wheel Drive,Front-Wheel Drive,Part-time 4-Wheel Drive,Rear-Wheel Drive
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,...,14.750000,3.250000,1,0,0,0,0,0,0,0
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,...,14.750000,-1.750000,1,0,0,0,0,0,0,0
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,...,14.750000,1.250000,0,0,0,0,0,0,0,1
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,...,14.750000,-1.750000,0,0,0,0,0,0,0,1
4,1987,ASC Incorporated,GNX,Midsize Cars,Automatic 4-spd,Rear-Wheel Drive,Premium,6.0,3.8,20.600625,...,16.000000,-2.000000,0,0,0,0,0,0,0,1
5,1997,Acura,2.2CL/3.0CL,Subcompact Cars,Automatic 4-spd,Front-Wheel Drive,Regular,4.0,2.2,14.982273,...,21.506623,-1.506623,0,0,0,0,0,1,0,0
6,1997,Acura,2.2CL/3.0CL,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,Regular,4.0,2.2,13.733750,...,21.506623,0.493377,0,0,0,0,0,1,0,0
7,1997,Acura,2.2CL/3.0CL,Subcompact Cars,Automatic 4-spd,Front-Wheel Drive,Regular,6.0,3.0,16.480500,...,21.506623,-3.506623,0,0,0,0,0,1,0,0
8,1998,Acura,2.3CL/3.0CL,Subcompact Cars,Automatic 4-spd,Front-Wheel Drive,Regular,4.0,2.3,14.982273,...,21.506623,-2.506623,0,0,0,0,0,1,0,0
9,1998,Acura,2.3CL/3.0CL,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,Regular,4.0,2.3,13.733750,...,21.506623,-0.506623,0,0,0,0,0,1,0,0

## MELT

In [46]:
melted = pd.melt(data, id_vars = ['Year', 'Make', 'Model'], 
                 value_vars = ['City MPG', 'Highway MPG', 'Combined MPG'])
melted.head(20)

    Year              Make                Model  variable  value
0   1984        AM General    DJ Po Vehicle 2WD  City MPG     18
1   1984        AM General     FJ8c Post Office  City MPG     13
2   1985        AM General  Post Office DJ5 2WD  City MPG     16
3   1985        AM General  Post Office DJ8 2WD  City MPG     13
4   1987  ASC Incorporated                  GNX  City MPG     14
5   1997             Acura          2.2CL/3.0CL  City MPG     20
6   1997             Acura          2.2CL/3.0CL  City MPG     22
7   1997             Acura          2.2CL/3.0CL  City MPG     18
8   1998             Acura          2.3CL/3.0CL  City MPG     19
9   1998             Acura          2.3CL/3.0CL  City MPG     21
10  1998             Acura          2.3CL/3.0CL  City MPG     17
11  1999             Acura          2.3CL/3.0CL  City MPG     20
12  1999             Acura          2.3CL/3.0CL  City MPG     21
13  1999             Acura          2.3CL/3.0CL  City MPG     17
14  1995             Acura                2.5TL  City MPG     18
15  1996             Acura          2.5TL/3.2TL  City MPG     18
16  1996             Acura          2.5TL/3.2TL  City MPG     17
17  1997             Acura          2.5TL/3.2TL  City MPG     18
18  1997             Acura          2.5TL/3.2TL  City MPG     17
19  1998             Acura          2.5TL/3.2TL  City MPG     17