In [1]:
import os

In [2]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/home/eiroamd/Documents/IH/Ironhack Data Analytics.json"

In [3]:
from google.cloud import bigquery

In [4]:
client = bigquery.Client()

In [5]:
import pandas as pd

In [ ]:
data = pd.read_csv('vehicles_folder/vehicles/vehicles.csv')

In [ ]:
data.head()

In [7]:
data = pd.read_csv('vehicles_folder/vehicles/vehicles_tab.txt', sep='\t')

In [8]:
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [9]:
data = pd.read_csv('vehicles_folder/vehicles/vehicles_pipe.txt', sep='|')

In [10]:
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

Para en vez de importar exportar como csv:

In [11]:
data = data.to_csv('vehicles_folder/vehicles/vehicles.csv',sep='|', index=False)
# si no quiero exportar los índices, meto index = False como parámetro.
# por defecto el sep es comma

In [ ]:
pip install xlrd

In [ ]:
pip install xlsxwriter

In [12]:
data.to_excel('vehicles_folder/vehicles/vehicles.xlsx', index=False)

AttributeError: 'NoneType' object has no attribute 'to_excel'

In [13]:
data = pd.read_json('vehicles_folder/vehicles/vehicles.json')

In [14]:
data.head()

,CO2 Emission Grams/Mile,City MPG,Combined MPG,Cylinders,Drivetrain,Engine Displacement,Fuel Barrels/Year,Fuel Cost/Year,Fuel Type,Highway MPG,Make,Model,Transmission,Vehicle Class,Year
0,522.764706,18,17,4,2-Wheel Drive,2.5,19.388824,1950,Regular,17,AM General,DJ Po Vehicle 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
1,683.615385,13,13,6,2-Wheel Drive,4.2,25.354615,2550,Regular,13,AM General,FJ8c Post Office,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
10,444.350000,17,20,6,Front-Wheel Drive,3.0,16.480500,1650,Regular,26,Acura,2.3CL/3.0CL,Automatic 4-spd,Subcompact Cars,1998
100,467.736842,17,19,6,Front-Wheel Drive,2.7,17.347895,1750,Regular,22,Acura,Legend,Manual 5-spd,Compact Cars,1989
1000,493.722222,16,18,8,4-Wheel or All-Wheel Drive,4.2,18.311667,2250,Premium,22,Audi,A8,Automatic (S6),Midsize Cars,2006

In [ ]:
data.to_json('vehicles_folder/vehicles/vehicles.json')

### Exportar un df a una base de datos

In [ ]:
pip install pandas-gbq

Primero creo el df aquí for explanation purposes:

In [15]:
query='''
SELECT
end_station_name,
end_station_longitude,
end_station_latitude,
COUNT(*) AS total_trips
FROM
   `bigquery-public-data.new_york.citibike_trips`
GROUP BY
    end_station_name,
    end_station_longitude,
    end_station_latitude
ORDER BY
   total_trips DESC
'''

In [17]:
query_job = client.query(query=query)
df = query_job.to_dataframe()
df.head()

,end_station_name,end_station_longitude,end_station_latitude,total_trips
0,E 17 St & Broadway,-73.990093,40.737050,307500
1,W 21 St & 6 Ave,-73.994156,40.741740,277831
2,Lafayette St & E 8 St,-73.990765,40.730287,275154
3,West St & Chambers St,-74.013221,40.717548,266036
4,Broadway & E 14 St,-73.990741,40.734546,243596

Ahora sí que vamos a a exportar

In [18]:
full_table_id = 'car_dealership.new_table_DE'
project_id = 'ironhack-data-analytics'

df.to_gbq(full_table_id,project_id=project_id)